@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400;700&display=swap");
/* tailwind css v4.x */
@import "tailwindcss";
@import "tailwindcss-animated";

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  background-color: #18181b; /* gray-900 */
  color: #d4d4d8; /* gray-200 */
  padding-top: 70px; /* top padding to avoid content being hidden behind the header */
}

header {
  /* padding: 1rem 2rem; */
  /* background-color: #000; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background: transparent;
}
header nav a {
  color: #cccccc;
  font-size: 1.2rem;
  margin: 0 1rem;
  text-decoration: none;
}
.normal-header {
  position: fixed;
  height: 100px;
  line-height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #18181b; /* gray-900 */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.scrolled-header {
  background-color: rgba(16, 16, 16, 0.8);
  backdrop-filter: blur(35px);
}

h2 {
  font-size: 16px;
  color: #4ade80; /* green-600 */
  font-weight: 500;
  margin: 0.5rem 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
h4 {
  font-size: 1rem;
  color: #a1a1aa; /* gray-400 */
  font-weight: 600;
  margin: 1rem 0;
}
/* Light mode class */
body.light-mode .nav a {
  color: black;
}

/* Toggle Mode Circles */
.toggle-mode {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.toggle-mode .circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3c393954;
  border-radius: 50%;
}

.profile {
  text-align: center;
  margin-top: 2rem;
}
.profile img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.profile h1 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-family: "Caveat", cursive;
}
.profile p {
  color: #aaa;
}
.buttons {
  margin: 1rem 0;
}
.buttons button {
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.btn-primary {
  background-color: #494949;
  color: #000;
}
.btn-secondary {
  background-color: #444;
  color: #fff;
}
section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
.tech-stacks span,
.tools span {
  display: inline-block;
  background-color: #222;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  margin: 0.3rem;
}
.footer {
  background-color: #3f3f46; /* gray-700 */
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
  position: relative;
  overflow: visible; /* penting supaya yang keluar tetap kelihatan */
}
.socials img {
  width: 24px;
  margin: 0 0.5rem;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.polaroid-wrapper {
  position: absolute;
  top: -120px; /* naik ke atas, ubah sesuai keinginan */
  right: 40px; /* atau atur ke kiri */
}

.polaroid img {
  width: 100%;
  display: block;
}

a {
  margin: 0 10px;
  color: white;
  transition: 0.3s;
  font-size: 24px;
}
a:hover {
  color: #4c4c4c; /* misal hover jadi biru */
}

/* Polaroid Styles */

.polaroid {
  margin: 5px 0;
  float: left;
}

.polaroid a {
  border-radius: 5px;
  background: #e4e4e7;
  display: inline;
  float: left;
  margin: 0 5px 10px;
  padding: 10px 10px 45px;
  font-family: haleluiah, sans-serif;
  font-size: 14px;
  text-align: center;
  /* text-decoration: none; */
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  z-index: 0;
}

.polaroid a:after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top: 15px;
}
.polaroid img {
  border-radius: 4px;
  display: block;
  width: inherit;
}

.polaroid a:nth-child(2n) {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.polaroid a:nth-child(3n) {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
}
.polaroid a:nth-child(4n) {
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.polaroid a:nth-child(5n) {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
}

.polaroid a:nth-child(6n) {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.polaroid a:nth-child(7n) {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
}

.polaroid a:hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

/* page contact */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f3f46; /* gray-700 */
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
  overflow: auto;
}

.overlay.show {
  transform: translateY(0);
}

.hidden {
  display: none;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* sosial media contact */

.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #000;
}

/* responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin: 0.5rem 0;
  }

  .profile img {
    width: 120px;
    height: 120px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .polaroid {
    float: none;
    text-align: center;
  }

  .tech-stacks span,
  .tools span {
    display: inline-block;
    font-size: 0.8rem;
  }

  .footer .row {
    flex-direction: column;
    text-align: center;
  }

  .footer .col-6 {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .polaroid-wrapper {
    position: static;
    margin-top: 2rem;
  }
}
